fastapi
uvicorn
jinja2
python-multipart
aiofiles
streamlit
pandas
numpy<2.0
matplotlib
python-dotenv
dendropy
geopandas
shapely
pyproj
fiona
rasterio
baltic
gym
seaborn
numba
scikit-image
email-validator