fastapi
uvicorn
jinja2
python-multipart
aiofiles
streamlit
pandas
numpy==1.26.4
matplotlib
python-dotenv
dendropy
geopandas
shapely
pyproj
fiona
rasterio
baltic
gym==0.26.2
seaborn
numba
scikit-image
email-validator